---
---

@import "{{ site.theme }}";

.conference-grid {
    display: grid;
    grid-template-columns: 5rem auto;
    grid-template-rows: auto;
    grid-template-areas: "label value";
}

.conference-grid__label {
    grid-area: label;
}

.conference-grid__value {
    grid-area: value;
}